$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";

$redColor: #e2494c;
$greyColor: #d1d1d1;

$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;